# Copy to .env and fill in. .env is gitignored.

# Set to <github-owner>/<repo-name>, lowercase, e.g. mygithubuser/crossyroad
GITHUB_REPOSITORY=TimLohrer/dotnet-crossy-road

# Database
DB_USER=crossy-road
DB_PASSWORD=crossy-road
DB_NAME=crossy-road

# Bosch OAuth
BOSCH_CLIENT_ID=
BOSCH_CLIENT_SECRET=
BOSCH_TENANT_ID=
BOSCH_METADATA_ADDRESS=
BOSCH_SCOPES=profile,openid,email

# Microsoft OAuth
MS_CLIENT_ID=
MS_CLIENT_SECRET=
MS_TENANT_ID=
MS_METADATA_ADDRESS=
MS_SCOPES=profile,openid

PUBLIC_API_URL=/api/v1
PUBLIC_ORIGIN=https://your-domain.example.com
